*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}
.header{
    width: 100%;
    height: 100vh;
    background: #020412;
    color: #fff;
    padding: 0 8.5%;
    position: relative;
    
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0 10px;
}
.logo{
    width: 120px;
    cursor: pointer;


}
.menu-icon{
    width: 35px;
    cursor: pointer;
}
nav ul {
    flex: 1;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    font-size: 17px;
}
nav ul li a:hover{
    color: #c7e908;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    font-size: 18px;
}
.text-box{
    margin-top: 15%;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 26px;
}
.text-box h1{
    font-size: 75px;
    line-height: 160px;
}
.btn2{
    text-decoration: none;
    border: 2px solid rgb(224, 240, 6);
    color: rgb(240, 224, 9);
    margin-top: 30px;
    border-radius: 6px;
    padding: 10px 30px;
    display: inline-block;
}
.btn{
    text-decoration: none;
    border: 2px solid rgb(224, 240, 6);
    margin-top: 30px;
    border-radius: 6px;
    padding: 10px 30px;
    display: inline-block;
    margin-left: 30px;
    font-weight: 600;
    background: #c7e908;
    color: #000;
}
.user-img{
    width: 580px;
    position: absolute;
    right: 8%;
    bottom: 0;
}
.auto-input{
    color: #e9f546;
}